@{
    Layout = "~/Shared/_Layout.cshtml";
}
<div class="center" id="intro">
    <p>
        The world of music is amazing. You can change
    </p><p>
        someones mood, motivate, inspire creativity and
    </p><p>
        help make choices for better or worse. This
    </p><p>
        site is just a great way to find out what certain
    </p><p>
        guitars have been used to make the popular songs
    </p><p>
        famous over history
    </p>

</div>

@section sidebar{
    <h3>Types of Rock</h3>
    <ul id="typesRock">

        <li>Heavy-Metal</li>
        <li>Punk-Rock</li>
        <li>Alternative</li>
        <li>Progressive-Rock</li>
        <li>Blues-Rock</li>
        <li>Rock-n-Roll</li>
        <li>Grunge-Rock</li>

    </ul>

}